<a href="https://colab.research.google.com/github/Vasanth03/Bank-Loan-Default-Prediction-Supervised-ML-Algorithms/blob/main/Banking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Bank Loan Defaulter Prediction**

####**About the Dataset**
Contains 15 features about credit applicants.

*Feature Description:*
1. Id               : Unique customer ID for the application.
2. grade            : A quality score based on the borrower's history.
3. annual_inc       : Annual income self-disclosed by the applicant during loan application registration.
4. short_emp        : Duration of employment less than a year(0) otherwise(1).
5. emp_length_num   : Length of employment from 0 to 10 years. 10 indicates    
10 and more than 10 years of experience.
6. home_ownership.  : Spedicfies the type of home ownership.
7. dti              : Debt-To-Income ratio - calculated using the borrower’s   
monthly debt(excluding mortgage, LCloan) divided by the borrower’s self-reported monthly income.
8. purpose          : Reason for Loan request.
9. term             : The number of months on repyment (36 or 60 months).
10. last_delinq_none     : Atleast one event of criminal behaviour.
11. last_major_derog_none: Atleast 90 days of bad rating.
12. revol_util           : Percentage of credit utilization relative to the   
available revolving credit.
13. total_rec_late_fee   : Late fees received to date.
14. od_ratio             : Overdraft ratio.
15. bad_loan             : 1 when a loan was not paid.

#### **`Importing Libraries and Loading Dataset`**

In [ ]:
# Pandas library is used for Data Maniplulation and Analysis
import pandas as pd

In [ ]:
# Numpy library is used to perform mathematical operations
import numpy as np

In [ ]:
# Library used for scientific computing and technical computing
import scipy.stats as stats

In [ ]:
# Used for advanced visualization
import seaborn as sns

# Data visualization library
import matplotlib.pyplot as plt

# Visualization plots
import pylab

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving loan.csv to loan.csv

In [ ]:
# For reading the files from 
ln = pd.read_csv("/content/loan.csv")

#### **`Basic Information about the Dataset`**

In [ ]:
# Shape of the dataset
ln.shape

(20000, 15)

The dataset has information about 20,000 applicants with has 15 features.

In [ ]:
# Displays top 5 entries of the dataframe
ln.head()

,id,grade,annual_inc,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,od_ratio,bad_loan
0,11454641,A,100000.0,1,1,RENT,26.27,credit_card,36 months,1,NaN,43.2,0.0,0.160624,0
1,9604874,A,83000.0,0,4,OWN,5.39,credit_card,36 months,0,NaN,21.5,0.0,0.810777,0
2,9684700,D,78000.0,0,11,MORTGAGE,18.45,debt_consolidation,60 months,1,NaN,46.3,0.0,0.035147,1
3,9695736,D,37536.0,0,6,MORTGAGE,12.28,medical,60 months,0,NaN,10.7,0.0,0.534887,1
4,9795013,D,65000.0,0,11,MORTGAGE,11.26,debt_consolidation,36 months,0,NaN,15.2,0.0,0.166500,0

In [ ]:
# Displays bottom 5 entries of the dataframe
ln.tail()

,id,grade,annual_inc,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,od_ratio,bad_loan
19995,6595657,B,27000.0,0,9,RENT,18.36,debt_consolidation,36 months,1,NaN,46.5,0.0,0.821782,1
19996,1576331,B,45000.0,0,2,MORTGAGE,23.22,major_purchase,36 months,0,NaN,46.2,0.0,0.652200,0
19997,6645736,B,104000.0,0,5,MORTGAGE,13.27,debt_consolidation,36 months,1,NaN,78.5,0.0,0.482555,0
19998,6625736,A,38400.0,0,2,MORTGAGE,12.84,debt_consolidation,36 months,0,NaN,47.4,0.0,0.822980,0
19999,6625685,B,150000.0,0,11,MORTGAGE,2.20,credit_card,36 months,0,NaN,40.7,0.0,0.201388,0

In [ ]:
# Get the column names of the dataframe
ln.columns

Index(['id', 'grade', 'annual_inc', 'short_emp', 'emp_length_num',
       'home_ownership', 'dti', 'purpose', 'term', 'last_delinq_none',
       'last_major_derog_none', 'revol_util', 'total_rec_late_fee', 'od_ratio',
       'bad_loan'],
      dtype='object')

In [ ]:
# The describe(), returns description about the statistical values of the 
# numerical data in the DataFrame.
ln.describe()

,id,annual_inc,short_emp,emp_length_num,dti,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,od_ratio,bad_loan
count,2.000000e+04,20000.000000,20000.000000,20000.00000,19846.000000,20000.000000,574.000000,20000.000000,20000.000000,20000.000000,20000.00000
mean,7.590662e+06,73349.578350,0.112500,6.82140,16.587841,0.546600,0.759582,55.958148,0.290622,0.504430,0.20000
std,1.609593e+06,45198.567255,0.315989,3.77423,7.585812,0.497836,0.427710,42.117456,3.108654,0.287720,0.40001
min,5.860400e+05,8412.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000077,0.00000
25%,6.206283e+06,47000.000000,0.000000,3.00000,10.852500,0.000000,1.000000,38.800000,0.000000,0.257356,0.00000
50%,7.378896e+06,65000.000000,0.000000,7.00000,16.190000,1.000000,1.000000,57.100000,0.000000,0.506681,0.00000
75%,8.766235e+06,88000.000000,0.000000,11.00000,22.060000,1.000000,1.000000,73.900000,0.000000,0.753771,0.00000
max,1.145464e+07,1000000.000000,1.000000,11.00000,34.990000,1.000000,1.000000,5010.000000,96.466600,0.999894,1.00000